         h2 {
            color: #8B0000;
        }  
        
        body {
            background-color: #00ffff;
        }
        
        #button-table {
                 width:  800px;
        } 

        #headlines {
                 color: #FFD700;
        }

        #about-paragraph {
                 color: #FF0000;
                 font-size:  20px;        
        }       

        #about_img1 {
                 float: right;
                 width: 100px;
                 height: 200px;
        }

        #about_img2 {
                 float: left;
                 width: 100px;
                 height: 200px;
        }

         #about_background {
                  background-image: url("https://github.com/WillBurbine/WillBurbine.github.io/blob/main/cscbackground.jpg?raw=true");
                  background-color: #cccccc;
         }
